<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <section id="user-panel">
        <div data-bind="text: displayname"></div>
        <button data-bind="click:logout">Logout</button>
        <button data-bind="click:createElection">Create election</button>
    </section>

    <section id="my-elections">
        
    </section>

    <script type="text/kendo-tmpl" id="my-elections-layout">
        <ul data-bind='source: myElections' data-template='my-elections-list-template'></ul>
    </script>

    <script type="text/kendo-tmpl" id="my-elections-list-template">
        <li>
               <a href="\#/cars/#= id #">#: make # #: model #</a>
        </li>
    </script>
</body>
</html>
