<script type="text/x-kendo-template" id="logged-template">
    <section id="user-panel">
        <div data-bind="text: displayname"></div>
        <button data-bind="click:log">Logout</button>
        <button data-bind="click:createElection">Create election</button>
    </section>
    <section id="my-elections">
        <h1>My elections</h1>
        <ul>
            #for(var i = 0; i < myElections.length; ++i){ #
                 #= ui.aLi(myElections[i].title, "index.html\\#/manage-election/" + myElections[i].id) #
            #}#
        </ul>
    </section>
</script>