<script type="text/x-kendo-template" id="template">
    <h2 data-bind="text: title"></h2>
    <fieldset>
        <legend>Invite users</legend>
        <ul>
        #: invitedUsersDisplayNameString #
        </ul>
        <label for="tb-invite-user"><input id="tb-invite-user" type="text"></input></label><button data-bind="click: inviteUsers">OK</button>
    </fieldset>
    <button data-bind="click: closeElection">Close Election</button><button data-bind="click: seeResults">See Results</button>
</script>