<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
        <add
            name="VotingSystemDB"
            providerName="System.Data.SqlClient"
            connectionString="Server=0d558a43-b617-4762-a9b4-a22d0091acb8.sqlserver.sequelizer.com;Database=db0d558a43b6174762a9b4a22d0091acb8;User ID=juojgjcvbdahhfpf;Password=4JnVrz2kQDrZ274VXjxhQZZomWu2ACyeF3v4Upk55vQTeo6fmnChXADdS8HCf8Sm;Trusted_Connection=true;MultipleActiveResultSets=true"/>  
  </connectionStrings>
</configuration>